<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="assets/css/fazaio.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
	<script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
	<title>Coronavirus disease (COVID-19)</title>
</head>
<body>
	<div class="container" id="app">
		<h2><i class="icon-chart icons tred"></i> COVID-19</h2>
		<button v-on:click="menu(1)" class="button">Lokal</button>
		<button v-on:click="menu(3)" class="button">Global</button>
		<button v-on:click="menu(2)" class="button">Info</button>


	
		<template v-if="showdata">
			<div class="isi">
				<div class="center"><b>Jumlah Kasus:</b></div>
				<div class="flx">
					<div class="col center">
						<div style="font-size: 30px;padding: 15px;">{{ confirmed }}</div>
						<span class="tgreen">•</span> <span>Konfirmasi</span>
					</div>
					<div class="col center">
						<div style="font-size: 30px;padding: 15px;">{{ activeCare }}</div>
						<span class="tyellow">• </span><span>Dalam perawatan</span>
					</div>
				</div>
				<div class="flx">
					<div class="col center">
						<div style="font-size: 30px;padding: 15px;">{{ recovered }}</div>
						<span class="tblue">•</span> <span>Sembuh</span>
					</div>
					<div class="col center">
						<div style="font-size: 30px;padding: 15px;">{{ deaths }}</div>
						<span class="tred">•</span> <span>Meninggal</span>
					</div>
				</div>
				<div class="center" style="margin-top: 30px;"><button id="capture" class="button"><i class="icon-camera icons"></i> Simpan</button></div>
				<div style="margin-top: 100px;text-align: left;text-indent: 20px;">
					<span>Data diatas merupakan jumlah kasus penyebaran virus corona di Indonesia saat ini, data diambil langsung dari situs <a href="https://kawalcovid19.id/">https://kawalcovid19.id/</a>. Terakhir diperbarui: {{ lastupdate }}</span>
				</div>
			</div>
		</template>


		<template v-if="showGlobal">
			<div class="isi">
				<div class="center"><b>Data Internasional:</b> <br><span>Virtualisasi data dari dampak penyebaran pandemik Coronavirus Disease (COVID-19) di berbagai negara, Data diambil dari: <a href="https://github.com/CSSEGISandData/COVID-19">CSSEGISandData</a> </span></div>
<!-- 				<div class="search">
					<input style="width: 98%" type="text" placeholder="Cari negara">
				</div> -->

				<!-- looping fetch data -->
				<div id="global">
					<div class="single-card" style="margin-top: 40px;color: gray !important" v-for="(value,country) in filtel">
						<div class="flx">
							<div class="col"><b> {{ country }} </b></div>
							<div class="col" style="text-align: right;"><span><i>{{ value.slice(-1)[0].date }}</i></span></div>
						</div>
						<div class="total-flx">
							<div class="tot">Confirmed 
								<span class="tblue">
								{{ value.slice(-1)[0].confirmed }}</span>
							</div>
							<div class="tot">Death 
								<span class="tred">{{ value.slice(-1)[0].deaths }}</span>
							</div>
							<div class="tot">Recovered 
								<span class="tgreen">{{ value.slice(-1)[0].recovered }}</span>
							</div>
						</div>
					</div>
				</div>


			</div>
		</template>


		<template v-if="showlayanan">
			<div class="isi">
				<div class="center"><b>Info:</b></div>
				<div style="margin-top: 50px"><b>Data Source:</b></div>
				<ul>
					<li><span class="tred">@pomber</span> | https://github.com/pomber/covid19</li>
					<li><span class="tred">CSSEGISandData/COVID-19 </span> | 2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE: https://github.com/CSSEGISandData/COVID-19</li>
				</ul>
				<b>Info COVID19:</b>
				<ul>
					<li><i class="icon-phone icons"></i> +62811-3339-9000</li>
					<li>https://covid19.go.id</li>
				</ul>
				<b>Powered By:</b>
				<ul>
					<li><span class="tred"><b>@fazaio</b></span> - <i class="icon-location-pin"></i>Malang</li>
					<li>+62-899-3774-262</li>
					<li>Faza6028@gmail.com</li>
					<li>https://fazaio.web.app</li>
				</ul>				
			</div>
		</template>


<!-- 		<div class="shared">
			<div id="capture" class="capture-button"><i class="icon-share icons"></i></div>
		</div> -->


		<div class="footer">
			#staysafe | "Soliteradalahsolidaritas" | #dirumahaja<br><span class="tred"><b>@FsocietyXitisjenar</b></span>|https://fazaio.web.app
		</div>

	</div>
</body>
</html>

<script>	
new Vue({
  el: '#app',
  data: {
  	confirmed: '',
  	recovered: '',
  	deaths: '',
  	activeCare: '',
  	lastupdate: '',
  	showdata: true,
  	showlayanan: false,
  	showGlobal: false,
  	Global: null
  },
  methods:{
  	menu: function(menu){
  		if (menu == 1) {
  			this.showdata = true;
  			this.showlayanan = false;
  			this.showGlobal = false
  		}else if(menu == 2){
  			this.showdata = false;
  			this.showlayanan = true;
  			this.showGlobal = false
  		}else if(menu == 3) {
  			this.showdata = false
  			this.showlayanan = false
  			this.showGlobal = true
  		}
  	}
  },
  computed:{
  	filtel: function(){
  		var data  = this.Global;
  		return data
	}
  },
  mounted () {
	var vm = this;
  	axios.get('https://kawalcovid19.harippe.id/api/summary').then(function(response) {
				vm.list 		= response.data;
				vm.confirmed 	= response.data.confirmed.value;
				vm.recovered 	= response.data.recovered.value;
				vm.deaths 		= response.data.deaths.value;
				vm.activeCare 	= response.data.activeCare.value;
				vm.lastupdate	= response.data.metadata.lastUpdatedAt;
				console.log(vm.lastupdate)
			}, function(error) {
				console.log(error.statusText);
			});

  	axios.get('https://pomber.github.io/covid19/timeseries.json').then(function(response) {
				console.log(response.data.Afghanistan[0])
				console.log(response.data)
				vm.Global = response.data
			}, function(error) {
				console.log(error.statusText);
			});
  }
})


document.querySelector('#capture').addEventListener('click', function() {
        html2canvas(document.querySelector('body'), {
            onrendered: function(canvas) {
                // document.body.appendChild(canvas);
              return Canvas2Image.saveAsPNG(canvas);
            }
        });
    });
</script>


<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>